language: python

python:
  - "3.6"

cache:
  timeout: 604800
  directories:
    - $HOME/miniconda

services:
  - docker

jobs:
  include:
    - stage: prepare cache
      script: true
    - stage: test
      name: snakemake
      install: true
      script:
        - source activate rosettapipeline
        - snakemake --config framework_id=${TRAVIS_JOB_NAME}

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - "[[ -d $HOME/miniconda/bin ]] || bash miniconda.sh -b -p $HOME/miniconda -u"
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda env create -f environment.yml